
html {
    height: 100%;

}

body {
    background-image: url(../images/Back2.png);
    background-repeat:no-repeat;
}


img.Discord { 
    height: 120px;
    margin-top: 2%   ;
    display: block;
}



.divlinks {

    background-color: white;
    width: 35%;
    padding : 10px;
    height : 1000px;
    margin-top: 0px;

    
}



.emailimg {
    display: block;
    height: 120px;  

}


button  {
  height:30px;
  width:150px;
  border: none;
  padding:0px;
  font-size:20px;
  height:52px;
  cursor:pointer;
  background-color:white;
  margin-left: 23%;
  margin-top: auto;
 


}


p {
    color: white;
}




  



