
html {
    height: 100%;
    margin: 0;
}

body {
    background-image: url(../images/Back2.png);
    background-repeat:no-repeat;
    margin: 0;
}


img.Discord { 
    height: 60px;
    margin-top: 2%   ;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: none;

}



.divlinks {

    background-color: white;
    width: 35%;
    padding : 10px;
    height : 1000px;
    margin-top: 0px;

    
}



.emailimg {
    display: block;
    height: 60px;  
    margin-left: auto;
    margin-right: auto;
}


button  {
  height:30px;
  width:150px;
  border: none;
  padding:10px;
  font-size:20px;
  height:52px;
  cursor:pointer;
  background-color:white;
  margin-left: 23%;
  margin-top: auto;
  display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
 


}





.dcp {

    display: block;
    height: 60px;  
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;

}

.titre {

    font-family: 'Lato', sans-serif;
    font-size: 38px;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-top: 4%;
    background-color: rgb(255, 255, 255);
}

  
.liendctxt {
    color: rgb(0, 0, 0);
    font-size: 20px;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    text-align: center;
    padding: none;
}

.button1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: non;
}

.texteacopier {

    display: none;
}

