
html {
    height: 100%;

}

body {
    background-image: url(../images/Back2.png);
    background-repeat:no-repeat;
}


img.Discord { 
    height: 120px;
    margin-left: 10%;
    margin-top: 2%   ;
    display: block;
}



.divlinks {

    background-color: white;
    width: 35%;
    min-width: 500px;
    padding : 50px;
    height : 1000px;
    
}

#content {
    display: none;
  }
  input[type="text"]{
      color: transparent;
      text-shadow: 0 0 0 #000;
  
      width: 310px;
      cursor: pointer;
      color: rgb(0, 0, 0);
      font-size: 16px;
      text-decoration: none;
      font-family: 'Lato', sans-serif;
      margin-left: 5%;
      border: none;


  }
  input[type="text"]:focus{
      outline: none;
      

  }
  input:focus + div#content {
    display: block;
  }

#content {  
    color: rgb(0, 0, 0);
    font-size: 14px;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    margin-left: 5%;
}

.emailimg {
    height: 100px;
    display: block;
    height: 120px;
    margin-left: 10%;
    margin-top: 2%   ;
    display: block;

}





  



