
html {
    height: 100%;
    margin: 0px;

}

body {
    background-image: url(../images/Back.png);
    margin: 0px;
    height: 100%;
    background-repeat:no-repeat;
}

.tarif {
    width: 100%;
    

}

.bando {
    background-color: white;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    min-width: 500px;
    padding: 50px;
    height: 1000px;


    

}
p {
    color: rgb(1, 1, 1);
    font-size: 30px;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
}

.paypal {   

    height: 120px;
    margin-left: 120px;
    margin-top: 10px   ;
    margin-right: 100px;
}

